[submodule "3rdparty/qgiflib"]
	path = 3rdparty/qgiflib
	url = https://github.com/igormironchik/qgiflib.git
[submodule "3rdparty/github-release"]
	path = 3rdparty/github-release
	url = https://github.com/igormironchik/github-release.git
