[Desktop Entry]
Name=GIF Editor
GenericName=GIF Editor
Type=Application
Exec=gif-editor
Icon=gif-tools
Categories=Utility;Graphics;
MimeType=image/gif;
